<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  For general questions or comments about the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  please contact us at <%= mail_to "admin@railstutorial.org", nil, :replace_at => "_at_", :replace_dot => "_dot_", :class => "email" %>.
</p>
